{% extends "base.html" %}
{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
{% endblock head %}

{% block title %}追尋重生的極致之湯：Island Explorer{% endblock title %}

{% block content %}
<div class="container">
    <div class="content-center">
        <img class="index_pic" src="{{ url_for('static', filename='./img/island.png') }}">
        <h1 class="index_title">追尋重生的極致之湯：Island Explorer</h1>
        <div class="btn_div">
            <a href="{{ url_for('api.register') }}">
                <button class="index_btn">註冊</button>
            </a>
            <a href="{{ url_for('api.login') }}">
                <button class="index_btn">登入</button>
            </a>
        </div>
    </div>
</div>
{% endblock content %}
